/* imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

/* default */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Iter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #121212;
    background-image: linear-gradient(to right top, #d28a35, #d89c39, #dcaf40, #dfc249, #e0d555, #e4d454, #e8d254, #ecd154, #f2bb4c, #f4a54a, #f28f4d, #ed7a53);
    padding: 0;
    margin: 0;
}

/* div {
    border: 1px solid blue;
} */

h1, h2 {
    font-family: 'Iter', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
}

hr {
    border-color: #121212;
    margin-bottom: 1em;
}

/* nav */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15% 5%;
    border-bottom: 2px solid #121212;
}

.nav-container img {
    max-height: 5em;
    width: auto;
}

.nav-container a {
    margin-left: 2em;
    text-decoration: none;
    color: #121212;
    letter-spacing: 2px;
    font-size: 1.4em;
}

a:hover {
    color: #e6e6e6;
  }  

/* hero section */

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 15%;
    min-height: 50vh;
    background-image: url("../images//model-jane-ellen.jpg");  
    background-attachment: scroll;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1em;
}

.hero-container p, h1 {
    max-width: 50%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: #e6e6e6;
    height: 100px;
    width: 100%;
    padding-left: 3em;
}

/* about section */

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5% 15%;
    padding-top: 1em;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.about-container video {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

.about-container div {
    margin-left: 1em;
    max-width: 40%;
}

/* portfolio section */

.portfolio-container {
    text-align: center;
    margin: 5% 15%;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;

}

.photos img {
    height: 25em;
    border-radius: 1em;
    margin: 0 1em 1em 1em;
}

/* contact section */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5% 15%;
}

.contact-form {
    text-align: left;
    max-width: 25%;
}

.contact-form input {
    min-width: 25em;
    margin-bottom: 1em;
    background-color: #e6e6e6;
    border: 1px solid #121212;
    border-radius: 0.25em;  
}

.contact-form textarea {
    min-width: 25em;
    resize: vertical;
    background-color: #e6e6e6;
    border: 1px solid #121212;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.form-background {
    background-color: #ed7a53;
    color: #e6e6e6;
    padding: 1em;
    border-radius: 1em;
}

button {
    background-color: #F68900;
    color: #e6e6e6;
    padding: 1px;
    border: 1px solid #121212;
    border-radius: 10px;
    width: 5em;
    height: 2.5em;
    font-family: 'Iter', sans-serif;
    font-weight: 400;
}

/* footer */

.footer-container {
    margin: 0 15%;
    border-top: 1px solid #121212;
}

.center-icons {
    display: flex;
    justify-content: center;
    margin: 2.5% 0;
}

.center-icons i {
    font-size: 2.2em;
    margin: 0 1em;
}

.center-icons a {
    text-decoration: none;
    color: #121212;
}

.center-icons a:hover {
    color: #e6e6e6;
}

/* media queries */

@media screen and (min-width: 320px) and (max-width: 480px) {

    .nav-container a {
        margin-right: 2em;
        text-decoration: none;
        color: #121212;
        letter-spacing: 2px;
        font-size: 1.4em;
    }

    .nav-container {
    display: flex;
    align-items: center;
    margin: 0 15% 5%;
    border-bottom: 2px solid #121212;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

}